<div class="pago-correo">
      <div class="div">
        <img class="logo" src="img/logo.png" />
        <div class="correo">
          <div class="overlap">
            <div class="ingresa">Ingresa tu correo electronico</div>
            <p class="recibo">Para enviarte el recibo de tu compra</p>
            <div class="text-wrapper">Correo electronico</div>
            <div class="btncontinuar">
              <div class="overlap-group"><div class="continuar">Continuar</div></div>
            </div>
            <div class="escricorreo">
              <div class="remingresa-wrapper"><div class="remingresa">Ingresa correo electronico</div></div>
            </div>
          </div>
        </div>
      </div>
    </div>