<div class="guia">
  <div class="div">
    <div class="arriba">
      <div class="overlap">
        <div class="cabeza"></div>
        <img class="notiimg" src="img/notiimg.png" />
        <img class="logo" src="img/logo.png" />
        <div class="buscador"><img class="buscar" src="img/buscar.png" /></div>
        <div class="catego">
          <div class="overlap-group">
            <div class="text-wrapper">Historial</div>
          </div>
        </div>
        <img class="perfilimg" src="img/perfilimg.png" />
        <img class="menu" src="img/menu-1.png" />
      </div>
    </div>
    <div class="overlap-2">
      <div class="text-wrapper-2">Cantidad</div>
      <div class="text-wrapper-3">Peso</div>
      <div class="flacantidad">
        <div class="div-2"></div>
        <div class="div-3"></div>
        <div class="div-4"></div>
        <div class="div-5"></div>
      </div>
      <div class="ttal">
        <div class="div-wrapper">
          <div class="text-wrapper-4">Total</div>
        </div>
      </div>
      <div class="flapeso">
        <div class="div-2"></div>
        <div class="div-3"></div>
        <div class="div-4"></div>
        <div class="div-5"></div>
      </div>
      <div class="canitdadtotal"></div>
      <div class="pesototal"></div>
      <img class="separador" src="img/separador.svg" />
      <div class="prmra">
        <div class="div-wrapper">
          <div class="text-wrapper-5">1º ra</div>
        </div>
      </div>
      <div class="trcera">
        <div class="div-wrapper">
          <div class="text-wrapper-6">3º ra</div>
        </div>
      </div>
      <div class="qinta">
        <div class="div-wrapper">
          <div class="text-wrapper-5">5º ta</div>
        </div>
      </div>
      <div class="mdura">
        <div class="div-wrapper">
          <div class="text-wrapper-7">Madura</div>
        </div>
      </div>
      <div class="text-wrapper-8">Seleccion</div>
      <div class="rsptanombre"></div>
      <div class="name">
        <div class="overlap-3">
          <div class="text-wrapper-9">Nombre</div>
        </div>
      </div>
      <div class="btnenviarguia">
        <div class="overlap-4">
          <div class="text-wrapper-10">Enviar</div>
          <img class="paper-plane" src="img/paper-plane-2-1.png" />
        </div>
      </div>
      <div class="ciudad">
        <div class="overlap-5">
          <div class="text-wrapper-11">Ciudad</div>
        </div>
      </div>
      <div class="nombre">
        <div class="overlap-6">
          <div class="text-wrapper-12">Nombre</div>
        </div>
      </div>
      <div class="distrito">
        <div class="overlap-5">
          <div class="text-wrapper-13">Distrito</div>
        </div>
      </div>
      <div class="RUC">
        <div class="overlap-5">
          <div class="text-wrapper-14">R.U.C</div>
        </div>
      </div>
      <div class="telefono">
        <div class="overlap-5">
          <div class="text-wrapper-15">Telefono</div>
        </div>
      </div>
    </div>
  </div>
</div>