<!-- Footer -->
<div class="footer">
  <img class="whatsapp-icon" src="assets/img/wasap.png" />
  <img class="logo-image"    src="assets/img/logo.png" />
  <img class="home-icon"     src="assets/img/cartblack.png" />
  <img class="profile-icon"  src="assets/img/usercircle.png" />
  <div class="orders-button">
    <div class="orders-button-inner">
      <img class="orders-icon" src="assets/img/pedidoimg.png" />
      <div class="orders-text">PEDIDOS</div>
    </div>
  </div>
  <div class="categories-button">
    <div class="categories-button-inner">
      <div class="categories-text">Categorias</div>
    </div>
  </div>
</div>
